<div class="container">
<div class="row">
<div class="col-sm">
   <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://cdn.ebaumsworld.com/mediaFiles/picture/730195/84882999.jpg" alt="Card image cap" class="img-responsive">
      <div class="card-body">
         <h4 class="card-title">Allie Haze</h4>
         <p class="card-text">Gets the heat on.</p>
         <div class = "price"> $4 </div>
         <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
   </div>
</div>
<div class="col-sm">
   <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://i.ebayimg.com/images/g/PO8AAOSwImRYI8oX/s-l300.jpg" alt="Card image cap">
      <div class="card-body">
         <h4 class="card-title">Mia malkova</h4>
         <p class="card-text">Flexible AF</p>
         <div class = "price"> $2 </div>
         <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
   </div>
</div>
<div class="col-sm">
<div class="card" style="width: 20rem;">
   <img class="card-img-top" src="https://i.pinimg.com/474x/44/e5/15/44e5155ab069ae3c0e547d00770240d8.jpg" alt="Card image cap">
   <div class="card-body">
      <h4 class="card-title">Dillion Harper</h4>
      <p class="card-text">aww</p>
      <div>
      	<div class = "price"> $3 </div>
      	<a href="#" class="btn btn-primary pull-right">Add to cart</a>
      </div>
   </div>
</div>
</div>